@import './styles/variables';

body {
  margin: 0;
  font-family:'Press Start 2P' , cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
  color: white;
}

:root {
  --main-color: 110;
}

code {
  font-family:'Press Start 2P' , cursive;
  color: #88caa1;
}

